<!DOCTYPE html>
<html lang="es-mx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jornada</title>
    <link rel="icon" type="image/png" href="../img/logoprovisriablanca-1@2x.png" />
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/blogspot.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Prata&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>

<body>
    <header class="encabezado__container">
        <div class="encabezado">
            <a href="/" class="encabezado__logo" title="Página principal de Jornada">
                <img class="encabezado__logo--icono" alt="Logo de Jornada, empresa de viajes y turismo" src="../img/logoprovisriablanca-1@2x.png" />
            </a>
            <nav class="encabezado__navegacion">
                <ul class="encabezado__navegacion--lista">
                    <li class="encabezado__navegacion--elemento">
                        <a href="/index.html" aria-label="Enlace al blog de viajes">Página principal</a>
                    </li>
                    <li class="encabezado__navegacion--elemento">
                        <a href="/views/paquetes.html" aria-label="Enlace a paquetes de viaje">Paquetes de viaje</a>
                    </li>
                    <li class="encabezado__navegacion--elemento">
                        <a href="/views/contacto.html" aria-label="Enlace de contacto para consultas">Contacto</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="contenedor-imagen">
        <section class="texto-superpuesto">
            <header class="busca__titulo">
                <h2 class="pago-titulo">Blog de la Jornada</h1>
                <div class="busca__titulo--subrayado"></div>
                  <p class="pago__condiciones--detalles">
                    Historias de viajes de nuestros
                    clientes. ¡Inspirate, encuentra
                    itinerarios y consejos! ¿Cual es
                    tu proximo viaje?
                  </p>
            </header>
        </section>
    </div>

    <main class="container">
        <section class="pago">
            <header class="pago__titulo">
                <h2 class="pago__titulo--texto">Tokyo</h2>
                <div class="pago__titulo--subrayado"></div>
            </header>
            <article class="pago__condiciones">
              <section>
              <h3 class="destinos__elemento--nombre">La llegada: </h3>
              <p class="pago__condiciones--detalles">
                  Nuestro viaje comenzó en el Aeropuerto Internacional de Narita, situado
                  a unos 60 km de Tokyo. Después de aterrizar y completar todos los
                  trámites de inmigración, fuimos recibidos por el equipo de Jornada
                  Viajes, quienes nos llevaron hasta nuestro hotel.
              </p>
              </section>
              <figure class="pago__imagenes--imagen-container">
                  <img class="pago__imagenes--imagen" alt="Imagen de Tokio" src="../img/tokyo3.png" />
                  <figcaption>Imagen de Tokio</figcaption>
              </figure>
          </article>
          
            <section class="pago__imagenes">
                <h3 class="destinos__elemento--nombre">Acomodaciones</h3>
                <p class="pago__condiciones--detalles2">
                  Nos alojamos en el lujoso Hotel Okura Tokyo, ubicado en el barrio de Toranomon.
                  El hotel cuenta con una vista increíble de la ciudad y ofrece una amplia gama de servicios,
                  que incluyen un spa, una piscina, restaurantes de renombre y un bar lounge.
                  Quedamos encantados con la atención a los detalles y la calidad del servicio.
                </p>
                <figure class="pago__imagenes--imagen-destaque">
                  <img class="pago__imagenes--imagen" alt="Imagen destacada de Tokio" src="../img/tokyo@2x.png" />
                  <figcaption>Imagen destacada de Tokio</figcaption>
                </figure>
                <h3 class="destinos__elemento--nombre">Explorando la ciudad</h3>
                <p class="pago__condiciones--detalles2">
                  Comenzamos nuestro recorrido por la ciudad con una visita al famoso Templo Sensoji,
                  uno de los templos budistas más antiguos e importantes de Japón.
                  Caminamos por la calle comercial Nakamise, donde encontramos muchas tiendas que vendían
                  artículos típicos japoneses, como kimonos, abanicos y comidas tradicionales. 
                  Luego, visitamos el icónico cruce de Shibuya, uno de los más transitados del mundo,
                  donde observamos la sincronización de los peatones cruzando la calle. 
                  Al día siguiente, visitamos el Parque Ueno, que alberga el Museo Nacional de Tokio,
                  donde pudimos conocer la historia y la cultura japonesa. Por la noche, fuimos a un típico Izakaya,
                  un bar japonés que sirve una gran variedad de platos y bebidas.
                </p>
                <h3 class="destinos__elemento--nombre">Compras</h3>
                <p class="pago__condiciones--detalles2">
                  Tokio es famosa por sus grandes almacenes y centros comerciales, y no podíamos dejar de visitar algunos de ellos. 
                  Fuimos al famoso distrito comercial de Ginza, 
                  donde encontramos tiendas de las marcas más renombradas del mundo.
                  También visitamos el distrito de Akihabara, conocido como el centro de la electrónica 
                  y el entretenimiento de Tokio, donde encontramos diversas tiendas de videojuegos, electrónica y mangas.
                </p>
                <h3 class="destinos__elemento--nombre">Gastronomía</h3>
                <p class="pago__condiciones--detalles2">
                  No se puede hablar de Japón sin mencionar su gastronomía.
                  Tuvimos la oportunidad de probar una gran variedad de platos típicos, 
                  como sushi, sashimi, ramen y tempura, además de dulces tradicionales como el mochi.
                </p>
                <h3 class="destinos__elemento--nombre">Concluyendo...</h3>
                <p class="pago__condiciones--detalles2">
                  Nuestro viaje a Tokio con la agencia Viajes Jornada fue una experiencia inolvidable.
                  El equipo de la agencia se encargó de todos los detalles, desde la reserva del hotel
                  hasta la elección de los mejores lugares para visitar y comer. Recomendamos Viajes Jornada
                  a todos los que deseen hacer un viaje increíble a Japón.
                </p>
            </section>
        </section>

        <section class="destinos">
            <header class="destinos__titulo">
                <h2 class="destinos__titulo--texto">Quizas tambien te interecen...</h2>
                <div class="destinos__titulo--subrayado"></div>
            </header>
            <div class="destinos__lista">
                <article class="destinos__elemento">
                <img class="destinos__elemento--image" alt="Imagen de Osaka" src="../img/osaka@2x.png" />
                <h3 class="destinos__elemento--nombre">Osaka</h3>
                <p class="destinos__elemento--descripcion">
                    Osaka es una ciudad animada y moderna en Japón. La ciudad es famosa por su deliciosa gastronomía y por ser un excelente punto de partida para explorar otras ciudades japonesas cercanas.
                </p>
                <div class="destinos__elemento--boton-container">
                    <button class="destinos__elemento--boton">
                        <span class="destinos__elemento--boton-texto">Ver detalles</span>
                    </button>
                </div>
                  </article>
                  <article class="destinos__elemento">
                    <img class="destinos__elemento--image" alt="Imagen de Tokyo" src="../img/kyoto.jpg" />
                    <h3 class="destinos__elemento--nombre">Kyoto</h3>
                    <p class="destinos__elemento--descripcion">
                      Kyoto es una ciudad ubicada en el centro de Japón, conocida por ser la antigua capital del país y preservar muchas tradiciones culturales japonesas. Con sus templos históricos, jardines tradicionales y ceremonias de té, es un inmersión en la cultura japonesa    
                    </p>
                    <div class="destinos__elemento--boton-container">
                        <button class="destinos__elemento--boton">
                            <span class="destinos__elemento--boton-texto">Ver detalles</span>
                        </button>
                    </div>
                  </article>
                  <article class="destinos__elemento">
                  <img class="destinos__elemento--image" alt="Imagen de Tokyo" src="../img/hiroshima.jpg" />
                  <h3 class="destinos__elemento--nombre">Hiroshima</h3>
                  <p class="destinos__elemento--descripcion">
                    Ciudad ubicada en el suroeste de Japón, conocida mundialmente por haber sido el objetivo del primer bombardeo atómico de la historia. Hoy en día, la ciudad es un símbolo de paz y reconciliación. Además, Hiroshima también es conocida por su gastronomía.</p>
                  <div class="destinos__elemento--boton-container">
                      <button class="destinos__elemento--boton">
                          <span class="destinos__elemento--boton-texto">Ver detalles</span>
                      </button>
                  </div>
                  </article>
            </div>
        </section>
    </main>

    <footer class="footer__container">
        <div class="footer">
            <div class="footer__logo-container">
                <img class="footer__logo-icon" alt="Logo de Jornada" src="../img/logobranco-1@2x.png" />
                <div class="footer__info-container">
                    <p class="footer__text-info">Horario de atención: 08h - 20h (Lunes a Sábado)</p>
                    <p class="footer__text-info">Desarrollado por Alura Latam. Proyecto ficticio sin fines comerciales.</p>
                </div>
            </div>
            <div class="footer__social-media-container">
                <p class="footer__social-media-text">Accede a nuestras redes sociales:</p>
                <div class="footer__social-media-icons">
                    <a href="#">
                        <img class="footer__social-media-icon" alt="Whatsapp" src="../img/whatsapp-1.svg" />
                    </a>
                    <a href="#">
                        <img class="footer__social-media-icon" alt="Instagram" src="../img/instragam-1.svg" />
                    </a>
                    <a href="#">
                        <img class="footer__social-media-icon" alt="Twitter" src="../img/twiter-1.svg" />
                    </a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
